* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    min-height: 100vh;
}

.header {
    grid-row: 1 / 2;
    grid-column: 1/ 4;
    border: 1px solid black;
    text-align: center;
}

.middle {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    grid-template-columns: 1fr 5fr 1fr;
    border: 1px solid black;
}
.navigation-section {
    grid-column: 1/ 2;
    border: 1px solid black;
    text-align: center;
    z-index: 20;
    position: relative;
    
}
@media only screen and (max-width: 735px) {
    .navigation-section {
        display:none
    }
}
.navigation-section .sticky-wrapper {
    position: sticky;
    top: 20px;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
    overflow-x: hidden
}

.navigation-section .sticky-wrapper::-webkit-scrollbar-track {
    background-color: #0000;
    border-radius: 10px
}

.navigation-section .sticky-wrapper::-webkit-scrollbar {
    width: 5px;
    background-color: #0000
}

.navigation-section .sticky-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #afafaf80
}

@media only screen and (max-width: 700px) {
    .navigation-section .sticky-wrapper {
        width:100%;
        margin-top: 0;
        overflow-y: hidden;
        max-height: unset
    }
}

.navigation-categories {
    display: flex;
    flex-direction: column;
    text-align: left
}

.navigation-categories .tab {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    padding: .8em 1.2em;
    font-weight: var(--semibold);
    font-size: 17px;
    margin-bottom: 2px;
    position: relative;
    transition: border-color .3s;
    background: none;
    color: var(--offwhite);
    border-color: var(--dark);
    border-radius: var(--button-border-radius)
}

.navigation-categories .tab:hover {
    background: #2c2c2c
}

.navigation-categories .tab .tab-content {
    display: flex;
    text-align: left;
    align-items: center;
    position: relative;
    justify-content: flex-start
}

.navigation-categories .tab .tab-content svg {
    width: 20px;
    height: 20px;
    margin-right: 4px
}

.navigation-categories .tab .tab-content .tag--red {
    background: var(--red);
    color: var(--offwhite);
    border-radius: 4px;
    font-size: 14px;
    padding: 2px 4px;
    margin-left: 7px
}

.navigation-categories .tab.active {
    background: #2c2c2c
}

.navigation-categories .tab .count {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    font-size: 14px;
    color: var(--blue-grey-1)
}

.banner {
    margin-left: auto;
    margin-top: 20px;
    z-index: 10
}

@media only screen and (max-width: 700px) {
    .banner {
        display:none
    }
}

.banner--fixed {
    position: fixed;
    left: 17px;
    bottom: 17px
}

.banner--fixed .carbon-text {
    background-color: #1c1c1c!important
}

.banner--fixed .carbon-poweredby {
    display: block;
    padding: 6px 8px;
    color: #aaa;
    background: #1e2021;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1ch;
    font-weight: 600;
    font-size: .5em;
    line-height: 1;
    border-top-left-radius: 3px;
    position: absolute;
    bottom: 0;
    right: 0
}

.creators {
    display: flex
}

.banner>div * {
    margin: initial;
    padding: initial
}

#carbonads_1 {
    display: none!important
}

#carbonads {
    display: flex;
    margin: auto;
    max-width: 130px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 1px #00000026;
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Helvetica,Arial,sans-serif
}

.horizontal #carbonads {
    max-width: 300px
}

.horizontal #carbonads .carbon-wrap {
    display: flex
}

#carbonads a {
    background-image: none;
    color: #111;
    text-decoration: none
}

#carbonads a:hover {
    color: #111
}

#carbonads .carbon-img {
    display: block;
    max-width: 130px;
    line-height: 1
}

#carbonads .carbon-img img {
    display: block;
    width: 130px;
    height: 100px;
    margin: 0 auto
}

#carbonads .carbon-text {
    display: block;
    padding: 8px 10px;
    background-color: #fafafa;
    line-height: 1.35;
    text-align: left
}

#carbonads .carbon-poweredby {
    display: block;
    padding: 10px;
    background: repeating-linear-gradient(-45deg,transparent,transparent 5px,hsla(0,0%,0%,.025) 5px,hsla(0,0%,0%,.025) 10px) hsla(203,11%,95%,.4);
    background-color: #fafafa;
    font-weight: 600;
    font-size: 8px;
    line-height: 0;
    letter-spacing: .5px;
    text-transform: uppercase
}

.dark #carbonads .carbon-text {
    background-color: #96969606
}

.dark #carbonads a {
    background-image: none;
    color: #fff;
    text-decoration: none
}

.dark #carbonads a:hover {
    color: #fff
}

.dark #carbonads .carbon-poweredby {
    background: repeating-linear-gradient(-45deg,transparent,transparent 5px,hsla(0,0%,59%,.025) 5px,hsla(0,0%,59%,.025) 10px) hsla(0,0%,27%,.4);
    background-color: #212121
}





.section-2 {
    display: grid;
    border: 1px solid black;
    grid-template-rows: 1fr 5fr;
}

.section-2 .button-panel {
    display: flex;
    grid-row: 1 / 2;
}

.section-2 .content {
    text-align: center;
}

button {
    flex-grow: 1;
    
}

.section-3 {
    grid-column: 3 / 4;
}

.card-client {
    
    background: #212121;
    /* width: 13rem; */
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #7cdacc;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  
  .card-client:hover {
    transform: translateY(-10px);
  }
  
  .user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border: 4px solid #7cdacc;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .user-picture svg {
    width: 2.5rem;
    fill: currentColor;
  }
  
  .name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }
  
  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #7cdacc;
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    width: 1.1rem;
    fill: currentColor;
  }
  
  /*-- Tooltip Social Media --*/
  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cards .red {
    background-color: #212121;
  }
  
  .cards .blue {
    background-color: #212121;
  }
  
  .cards .green {
    background-color: #212121;
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    /* width: 250px; */
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: .7em;
  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

  .playing {
    background-color: white;
    padding-bottom: 1.1em;
    border-radius: 15px;
    margin: 1em;
  }
  
  .loader {
    display: flex;
    flex-direction: row;
    height: 4em;
    padding-left: 1em;
    padding-right: 1em;
    transform: rotate(180deg);
    justify-content: right;
    border-radius: 10px;
    transition: .4s ease-in-out;
  }
  
  .loader:hover {
    cursor: pointer;
    background-color: lightgray;
  }
  
  .currentplaying {
    display: flex;
    margin: 1em;
  }
  
  .spotify {
    width: 50px;
    height: 50px;
    margin-right: 0.6em;
  }
  
  .heading {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    align-self: center;
  }
  
  .loading {
    display: flex;
    margin-top: 1em;
    margin-left: 0.3em;
  }
  
  .load {
    width: 2px;
    height: 33px;
    background-color: limegreen;
    animation: 1s move6 infinite;
    border-radius: 5px;
    margin: 0.1em;
  }
  
  .load:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .load:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .load:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .play {
    position: relative;
    left: 0.35em;
    height: 1.6em;
    width: 1.6em;
    clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
    background-color: black;
    transform: rotate(-90deg);
    align-self: center;
    margin-top: 0.7em;
    justify-self: center;
  }
  
  .albumcover {
    position: relative;
    margin-right: 1em;
    height: 40px;
    width: 40px;
    background-color: rgb(233, 232, 232);
    align-self: center;
    border-radius: 5px;
  }
  
  .song {
    position: relative;
    transform: rotate(180deg);
    margin-right: 1em;
    color: black;
    align-self: center;
  }
  
  .artist {
    font-size: 0.6em;
  }
  
  @keyframes move6 {
    0% {
      height: 0.2em;
    }
  
    25% {
      height: 0.7em;
    }
  
    50% {
      height: 1.5em;
    }
  
    100% {
      height: 0.2em;
    }
  }


.footer {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    text-align: center;
    border: 1px solid black;
}